.main{
    background-image: url(./Back3.jpg);
    height: 100vh;
    background-size: cover;
}
.layer1{
    overflow: auto;
    height: 100vh;
    background-image: linear-gradient(to top,black,rgba(0, 0, 0, 0.541),transparent);
}

.container img{
    box-sizing: border-box;
    border-radius: 100px;
    padding: 15px;
}
.container h3{
text-align: center;
color: bisque;
}

.items1{
    width: 10%;
    float: left;
}
.items2{
    width: 10%;
    float: right;
}
img{
    width: 100%;
}

.title1{
    letter-spacing: 10px;
    text-align: center;
    color:gold;
}

.clr{
    clear: both;
}

.container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;

}

.title2{
    margin-top: 150px;
    text-align: center;
    color: azure;
}

.Othergames{
    width: 15%;
}

.container2 img{
    box-sizing: border-box;
    border-radius: 500px;
}

.container2 h3{
text-align: center;
color: bisque;
}



